<nav class="navbar navbar-default navigation">
  <div class="container navbarContainer">
    <div class="navbar-header headerTitle">
      <a href="/#/" class="homeIconLink"><i class="fa fa-2x fa-home homeIcon"></i></a> Connect
      <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Food/carrot-25.png" title="Carrot" width="27"> Share
      <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Food/carrot-25.png" title="Carrot" width="27"> Grow
    </div>
      <a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook facebookButton pull-right"><i class="fa fa-facebook-official"></i>Logout</a>
      <a class="createListingButton btn btn-primary pull-right" href="/#/new"><span><img src="../images/american-mountain-ash.png" class="three-twigs" width="30px"></span>Create a Listing</a>
      <!-- Search by Want/Need: -->
      <!-- <p class="dropdown pull-right">Connect -->
        <!-- <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Arrows/expand_arrow-24.png" class="expandArrow" title="Expand Arrow" width="27"> -->
      <!-- </p> -->

      <input type="text" class="searchByWantNeed pull-right" ng-model="search.want">
      <span class="pull-right searchbyWantNeedLabel">search by want/need</span>
  </div>
</nav>

<div class="backgroundColor">
  <div class="row-fluid postBodyFont">
    <div class="col-md-3">
      <div class="media-left">
        <p class="welcomeUser">Welcome, {{user.first_name}}!</p>
        <img class="profilePicture" src="{{user.image_url}}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="media-body">
          <div ng-repeat = "post in posts | filter:{'want': search.want}" class="eachPost">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object postThumbnail" src="{{post.picture_url}}" alt="profile picture">
                </a>
              </div>
              <div class="media-body">
                <h3 class="media-heading postTitle">{{post.title}}</h3>
                <p class="pull-right booleanValue">{{post.want? 'Needs Land':'Has Land'}}</p>
                <h3 class="media-heading postAuthor"> By {{post.author}}</h3>
                {{post.description}}
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>











<!-- <p><a ng-click="test()"class="btn btn-primary btn-facebook"><i class="fa fa-facebook-official"></i> Test Me</a></p> -->
