<nav class="navbar navbar-default navigation">
  <div class="container-fluid">
    <div class="navbar-header headerTitle">
        <a href="/#/" class="homeIconLink"><i class="fa fa-2x fa-home homeIcon"></i></a> Connect Share Grow
    </div>
    <a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook facebookButton pull-right"><i class="fa fa-facebook-official"></i>Logout</a>
    <a class="createListingButton btn btn-primary pull-right" href="/#/new"><img src="images/american-mountain-ash.png" width="33px">Create a Listing</a>
    <span class="pull-right checkboxLabelText btn btn-primary"><input type="checkbox" ng-model="search.want" ng-true-value='true' data-ng-false-value=''>Needs Land</span>

    <span class="pull-right checkboxLabelText btn btn-primary"><input type="checkbox" ng-model="search.want" ng-true-value='false' data-ng-false-value=''>Has Land</span>
  </div>
</nav>

<div class="backgroundColor">
  <div class="row-fluid postBodyFont">
    <div class="col-md-3">
      <div class="media">
      </div>
      <div class="media-left">
        <p class="welcomeUser">Welcome, {{user.first_name}}!</p>
        <img class="profilePicture" src="{{user.image_url}}">
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-md-8">
        <div ng-repeat = "post in posts | filter:{'want': search.want}" class="eachPost">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object postThumbnail" src="{{post.picture_url}}" alt="profile picture">
              </a>
            </div>
            <div class="media-body">
              <a href="/#/show/{{post.id}}"><h3 class="media-heading postTitle" ng-click="getPostId()">{{post.title}}</h3></a>
              <p class="pull-right booleanValue">{{post.want? 'Needs Land':'Has Land'}}</p>
              <h3 class="media-heading postAuthor"> By {{post.author}}</h3>
              <p>{{post.description | limitTo: 150}} ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
