<nav class="navbar navbar-default navigation">
  <div class="container">
    <p class="navbar-header headerTitle">Connect
      <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Food/carrot-25.png" title="Carrot" width="27"> Share
      <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Food/carrot-25.png" title="Carrot" width="27"> Grow
    </p>

    <div>
      <p class="dropdown pull-right" ng-click="showDropDown()">Connect
        <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Arrows/expand_arrow-24.png" ng-click="$mdOpenMenu($event)" class="expandArrow" title="Expand Arrow" width="27">
      </p>
    </div>
  </div>

shit
  <div ng-repeat="user in users">
    <div class="row-fluid">
      <div class="media">
      </div>



      <div class="media-left">
        <img class="profilePicture" src="">
      </div>

      <div class="media-body">
        <p class="userName"></p>
      </div>

      </div>

  </div>

</nav>











<h1> successfully logged in</h1>
<p><a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook"><i class="fa fa-facebook-official"></i> Logout</a></p>
<p><a ng-click="test()"class="btn btn-primary btn-facebook"><i class="fa fa-facebook-official"></i> Test Me</a></p>
