<nav class="navbar navbar-default navigation">
  <div class="container navbarContainer">
    <div class="navbar-header headerTitle">
      <a href="/#/" class="homeIconLink"><i class="fa fa-2x fa-home homeIcon"></i></a> Connect
      <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Food/carrot-25.png" title="Carrot" width="27"> Share
      <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Food/carrot-25.png" title="Carrot" width="27"> Grow
    </div>
      <a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook facebookButton pull-right"><i class="fa fa-facebook-official"></i>Logout</a>
      <a class="createListingButton btn btn-primary pull-right" href="/#/profile">Listings Page</a>

      <!-- <p class="dropdown pull-right">Connect -->
        <!-- <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Arrows/expand_arrow-24.png" class="expandArrow" title="Expand Arrow" width="27"> -->
      <!-- </p> -->
  </div>
</nav>
