<nav class="navbar navbar-default navigation">
  <div class="container-fluid">
    <div class="navbar-header headerTitle">
        <a href="/#/" class="homeIconLink"><i class="fa fa-2x fa-home homeIcon"></i></a> Connect Share Grow
    </div>
    <a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook facebookButton pull-right"><i class="fa fa-facebook-official"></i>Logout</a>
    <a class="createListingButton btn btn-primary pull-right" href="/#/profile"><img src="images/american-mountain-ash.png" width="33px">Listings Page</a>
  </div>
</nav>


  <div class="form" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
    <form ng-submit = "submitPost()">
      <div class="errors">
        <p class="errorMessage"></p>
      </div>
      <div class="form-group">
        <div>
          <label for="title">Title</label>
          <input class="form-control" type="text" id="title" placeholder="Post Title" ng-model="title" required>
        </div>

        <div>
          <label for="street">Street</label>
          <input class="form-control" type="text" id="street" placeholder="Street" ng-model="street">
        </div>

        <div>
          <label for="city">City</label>
          <input class="form-control" type="text" id="city" placeholder="City" ng-model="city">
        </div>

        <div>
          <label for="state">State:</label>
          <select ng-model="state">
            <option ng-repeat="state in ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']">{{state}}</option>
          </select>
        </div>

        <div>
          <label for="zipcode">Zipcode</label>
          <input class="form-control" type="text" id="zipcode" placeholder="Zipcode" ng-model="zipcode">
        </div>


        <div>
          <label for="picture_url">Add a Photo</label>
          <input class="form-control" type="text" id="picture_url" placeholder="add photo link" ng-model="picture_url">
        </div>

        <div>
          <label for="description">Description</label>
          <textarea rows="5" class="form-control" type="text" id="description" placeholder="briefly describe what you are looking for and or offering" ng-model="description"></textarea>
        </div>

        <div class="styled-select">
          <select ng-model="want"><optgroup>
            <option value="true" selected="selected">Needs Land</option>
            <option value="false">Wants Land</option>
          </optgroup></select>
        </div>

        <button class="btn btn-primary newFormSubmitButton" type="submit">Submit</button>
      </div>
    </form>
  </div>
