<nav class="navbar navbar-default navigation">
  <div class="container-fluid">
    <div class="navbar-header headerTitle">
        <a href="/#/" class="homeIconLink"><i class="fa fa-2x fa-home homeIcon"></i></a> Connect Share Grow
    </div>
    <a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook facebookButton pull-right"><i class="fa fa-facebook-official"></i>Logout</a>
    <a class="createListingButton btn btn-primary pull-right" href="/#/profile"><img src="images/american-mountain-ash.png" width="33px">Listings Page</a>
  </div>
</nav>


<form name="userForm" class="css-form" ng-submit="userForm.$valid && submitPost()" novalidate>
  <fieldset class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" id="title" name="title" placeholder="Post Title" ng-model="title" required minlength="3">
      <div ng-show="userForm.$submitted || userForm.title.$touched" ng-messages="userForm.title.$error" role="alert">
        <div class="errorMessage" ng-message="required">Please enter a value for this field.</div>
        <div class="errorMessage" ng-message="minlength">This field must be at least 3 characters long.</div>
      </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="street">Street</label>
    <input class="form-control" type="text" id="street" name="street" placeholder="Street" ng-model="street" required minlength="5">
    <div ng-show="userForm.$submitted || userForm.street.$touched" ng-messages="userForm.street.$error" role="alert">
      <div class="errorMessage" ng-message="required">Please enter a value for this field.</div>
      <div class="errorMessage" ng-message="minlength">This field must be at least 5 characters long.</div>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="city">City</label>
    <input class="form-control" type="text" id="city" name="city" placeholder="City" ng-model="city" required ng-minlength="2">
    <div ng-show="userForm.$submitted || userForm.city.$touched" ng-messages="userForm.city.$error" role="alert">
      <div class="errorMessage" ng-message="required">Please enter a value for this field.</div>
      <div class="errorMessage" ng-message="minlength">This field must be at least 2 characters long.</div>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="state">State:</label>
    <select ng-model="state">
      <option ng-repeat="state in ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']">{{state}}</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label for="zipcode">Zipcode</label>
    <input class="form-control" type="text" id="zipcode" name="zipcode" placeholder="Zipcode" ng-model="zipcode" required ng-minlength="5">
    <div ng-show="userForm.$submitted || userForm.zipcode.$touched" ng-messages="userForm.zipcode.$error" role="alert">
      <div class="errorMessage" ng-message="required">Please enter a value for this field.</div>
      <div class="errorMessage" ng-message="minlength">This field must be at least 5 characters long.</div>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="picture_url">Add a Photo</label>
    <input class="form-control" type="text" id="picture_url" placeholder="please leave empty for default photo to show" ng-model="picture_url">
  </fieldset>

  <fieldset class="form-group">
    <label for="description">Description</label>
    <textarea rows="5" class="form-control" name="description" type="text" id="description" placeholder="briefly describe what you are looking for and or offering" ng-model="description" required ng-minlength="5" ng-maxlength="1000"></textarea>
    <div ng-show="userForm.$submitted || userForm.description.$touched" ng-messages="userForm.description.$error" role="alert">
      <div class="errorMessage" ng-message="required">Please enter a value for this field.</div>
      <div class="errorMessage" ng-message-exp="['minlength', 'maxlength']">This field must be between 5 and 1000 characters.</div>
    </div>
  </fieldset>

  <fieldset class="form-group styled-select">
    <select ng-model="want"><optgroup>
      <option value="true" selected="selected">Needs Land</option>
      <option value="false">Wants Land</option>
    </optgroup></select>
  </fieldset>

    <button class="btn btn-primary newFormSubmitButton" type="submit">Submit</button>
</form>
