<nav class="navbar navbar-default navigation">
  <div class="container-fluid">
    <div class="navbar-header headerTitle">
        <a href="/#/" class="homeIconLink"><i class="fa fa-2x fa-home homeIcon"></i></a> Connect Share Grow
    </div>
    <a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook facebookButton pull-right"><i class="fa fa-facebook-official"></i>Logout</a>
    <a class="createListingButton btn btn-primary pull-right" href="/#/new"><img src="images/american-mountain-ash.png" width="33px">Create a Listing</a>
    <a class="createListingButton btn btn-primary pull-right" href="/#/profile"><img src="images/american-mountain-ash.png" width="33px">Listings Page</a>
  </div>
</nav>

<div>
  <p class="profilePageUserName text-center">{{profileData.name}}</p>
  <img src="{{profileData.image_url}}"  class="img-responsive center-block profilePagePicture" />
  <p class="text-center profilePoints"><img src="images/american-mountain-ash.png" width="33px">{{post.want? 'Needs Land':'Has Land'}}</p>
  <p class="text-center profilePoints"><img src="images/american-mountain-ash.png" width="33px">{{profileData.email}}</p>

</div>
