<nav class="navbar navbar-default navigation">
  <div class="container-fluid">
    <div class="navbar-header headerTitle">
        <a href="/#/" class="homeIconLink"><i class="fa fa-2x fa-home homeIcon"></i></a> Connect Share Grow
    </div>
    <a ng-click="logout()" href = "/#/" class="btn btn-primary btn-facebook facebookButton pull-right"><i class="fa fa-facebook-official"></i>Logout</a>
    <a class="createListingButton btn btn-primary pull-right" href="/#/new"><img src="images/american-mountain-ash.png" width="33px">Create a Listing</a>
    <a class="createListingButton btn btn-primary pull-right" href="/#/profile"><img src="images/american-mountain-ash.png" width="33px">Listings Page</a>
  </div>
</nav>

<div class="container">
  <div class="col-lg-12 centered">
    <div class="showPost">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object postThumbnail" src="{{showPost.picture_url}}" alt="profile picture">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading postTitle" ng-click="getPostId()">{{showPost.title}}</h3>
          <p class="pull-right booleanValue">{{showPost.want? 'Needs Land':'Has Land'}}</p>
          <h3 class="media-heading postAuthor"> By {{showPost.author}}</h3>
          <p>{{showPost.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
