<div id="splashBackground">
<img src="../images/gnome.jpg" class="img-responsive">
</div>
<div class="container splashContainer" >
  <div class="jumbotron">
    <h1 class="pageTitle animated bounceInDown">topsoil</h1>
    <h1 class="splashPageAboutTitle"> Connecting the urban gardener who needs land with those who've got it.</h1>
    <h2 class="learnMore"> Learn More</h2>
    <p><a ng-click="authenticate('facebook')" class="btn btn-primary btn-facebook splashPageFacebookButton"><i class="fa fa-facebook-official"></i>  Sign in with Facebook</a></p>
  </div>
  <div class = "jumbotron pageInfo">
    <h2 class="splashPageSummary">Topsoil's mission is to create a community of people who want to grow good food.  Have you always wanted a garden but don't have the oomph it takes to get going on one? Or perhaps you are that gardener, but are lacking the resources/land to grow your goods on... Either way, we're here to help!  Because who doesn't want to make this urban world a little greener? </h2>
    <h2 class="backToTop">Back to Top</h2>
  </div>

</div>
