body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Raleway";
  font-weight: 700;
  font-style: italic;
}
#splashBackground {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1000;
}
#splashBackground img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1000;
}
.splashContainer{
  height: 200vh;
  margin: 0 auto;
}
.btn-facebook{
  margin: 30px;
  width: inherit;
}
.btn-facebook:hover{
  /*color: silver;*/
  width: inherit;
}
.jumbotron{
  background: transparent !important;
  margin-left: 100px;
  text-align: center;
}
h1.pageTitle {
  color: #faebd7;
  font-size: 100px;
  font-family: "lobster";
}

/*----------------user profile page-----------------*/

.navigation {
  background-color: #61B329;
  height: 15vh;
  line-height: 15vh;
  white-space: nowrap;
}
.headerTitle {
  color: #faebd7;
  font-size: 30px;
  font-family: "lobster";
}
/*.dropdown {
  color: #f6fcf2;
  font-size: 20px;
}*/
.expandArrow {
  color: #f6fcf2;
}
.profilePicture {
  border-radius: 30px;
  padding-left: 10px;
}
.facebookButton {
  background-color: #FEFBF7;
  color: black;
  border: none;
}
.backgroundColor {
  background: #FEFBF7;
  height: 100vh;
}
.welcomeUser {
  font-size: 20px;
  padding-left: 10px;
}
