@font-face {
    font-family: 'fff_tusjbold';
    src: url('fonts/FFF_Tusj-webfont.eot');
    src: url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFF_Tusj-webfont.woff') format('woff'),
         url('fonts/FFF_Tusj-webfont.ttf') format('truetype'),
         url('FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Light.otf') format('truetype');
}

@font-face {
    font-family: 'JennaSue';
    src: url('fonts/JennaSue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Quicksand';
  font-weight: 700;
  font-style: italic;
  background: rgb(254, 251, 247);
}
#splashBackground {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1000;
}
#splashBackground img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1000;
}
.splashContainer{
  height: 170vh;
  margin: 0 auto;
}
.splashPageFacebookButton {
  margin: 30px;
  width: 230px;
  font-size: 30px;
  color: #FEFBF7;
  font-family: 'JennaSue';
}
.jumbotron{
  background: transparent !important;
  margin-left: 100px;
  text-align: center;
}
h1.pageTitle {
  color: #faebd7;
  font-size: 100px;
  font-family: 'fff_tusjbold';
}
h2.learnMore {
  font-family: 'JennaSue';
  font-weight: 700;
  font-size: 60px;
  color: #faebd7;
}
h2.backToTop {
  font-family: 'JennaSue';
  font-weight: 700;
  color: #faebd7;
}
h1.splashPageAboutTitle {
  font-family: 'JennaSue';
  font-weight: 700;
  background: rgba(254, 251, 247, .6);
  padding: 10px;
  border-radius: 20px;
}
.splashPageSummary {
  font-family: 'JennaSue';
  font-weight: bold;
  font-size: 40px;
  background: rgba(254, 251, 247, .6);
  padding: 10px;
  border-radius: 20px;
}
/*----------------user profile page-----------------*/
.navigation {
  background-color: #61B329;
  height: 15vh;
  line-height: 15vh;
  white-space: nowrap;
}
.headerTitle {
  font-size: 30px;
  font-family: 'fff_tusjbold';
}
.expandArrow {
  color: #f6fcf2;
}
.profilePicture {
  border-radius: 30px;
  padding-left: 10px;
}
.facebookButton, .createListingButton, .checkboxLabelText {
  background-color: #FEFBF7;
  color: black;
  border: none;
  font-size: 25px;
  margin: 10px;
  font-weight: 500;
  font-family: 'JennaSue';
}
.facebookButton:hover, .createListingButton:hover, .checkboxLabelText:hover {
  color: #61B329;
  background-color: black;
  font-family: 'JennaSue'
}
.backgroundColor {
  background: #FEFBF7;
  height: 100vh;
}
.welcomeUser {
  font-family: 'JennaSue';
  font-size: 25px;
  padding-left: 10px;
  text-align: center;
}
.booleanValue {
  display: block;
  font-family: 'JennaSue';
  font-size: 25px;
  font-weight: 700;
  padding: 15px;
}
.postThumbnail{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.media-body {
  padding-left: 15px;
}
.postTitle {
  font-family: 'fff_tusjbold';
}
.postAuthor {
  font-family: 'JennaSue';
}
.eachPost {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}
.learnMore{
  margin-top: 60px;
  font-family: lobster;
}
.pageInfo{
  position: absolute;
  top: 1300px;
  max-width: 70%;
  margin-left: 150px;
}
.homeIcon {
  padding-right: 50px;
}
.homeIconLink {
  color: #fefbf7;
}
.homeIconLink:hover {
  color: black;
}
.postBodyFont {
  font-family: 'Quicksand';
}
/*.checkboxLabelText {
  font-size: 25px;
  margin: 0 10px;
  font-family: 'JennaSue';
}*/
/*------------newForm----------------*/
form {
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
}
label {
  font-family: 'JennaSue';
}
label, .styled-select {
  padding-top: 20px;
}
.styled-select select {
	font-size: 30px;
	height: 40px;
	text-indent: 10px;
  font-family: 'JennaSue';
  background: white;
}
.newFormSubmitButton {
  font-size: 30px;
  margin-top: 20px;
  width: 100px;
  background-color: black;
  font-family: 'JennaSue';
  padding: 0 10px;
}
.newFormSubmitButton:hover {
  color: #fefbf7;
  background-color: #61b329;
  border: none;
}
