@font-face {
    font-family: 'fff_tusjbold';
    src: url('fonts/FFF_Tusj-webfont.eot');
    src: url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFF_Tusj-webfont.woff') format('woff'),
         url('fonts/FFF_Tusj-webfont.ttf') format('truetype'),
         url('FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JennaSue';
    src: url('fonts/JennaSue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'JennaSue';
  font-weight: 700;
  font-style: italic;
  background: rgb(254, 251, 247);
}
#splashBackground {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1000;
}
#splashBackground img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1000;
}
.splashContainer{
  height: 170vh;
  margin: 0 auto;
}
.splashPageFacebookButton {
  margin: 30px;
  width: 230px;
  font-size: 30px;
  color: #FEFBF7;
}
.jumbotron{
  background: transparent !important;
  margin-left: 100px;
  text-align: center;
}
h1.pageTitle {
  color: #faebd7;
  font-size: 100px;
  font-family: 'fff_tusjbold';
}
h2.learnMore {
  font-family: 'JennaSue';
  font-weight: 700;
  font-size: 60px;
  color: #faebd7;
}
h1.splashPageAboutTitle {
  font-family: 'JennaSue';
  font-weight: 700;
  background: rgba(254, 251, 247, .2);
  padding: 10px;
  border-radius: 20px;
}
.splashPageSummary {
  font-family: 'JennaSue';
  font-weight: bold;
  font-size: 50px;
  background: rgba(254, 251, 247, .2);
  padding: 10px;
  border-radius: 20px;
}
/*----------------user profile page-----------------*/
.navigation {
  background-color: #61B329;
  height: 15vh;
  line-height: 15vh;
  white-space: nowrap;
}
.headerTitle {
  font-size: 30px;
  font-family: 'fff_tusjbold';
}
/*.dropdown {
  color: #f6fcf2;
  font-size: 20px;
}*/
.expandArrow {
  color: #f6fcf2;
}
.profilePicture {
  border-radius: 30px;
  padding-left: 10px;
}
.facebookButton, .createListingButton {
  background-color: #FEFBF7;
  color: black;
  border: none;
  font-size: 25px;
  margin: 10px;
  font-weight: 500;
}
.facebookButton:hover, .createListingButton:hover {
  color: #61B329;
  background-color: black;
}
.backgroundColor {
  background: #FEFBF7;
  height: 100vh;
}
.welcomeUser {
  font-family: lobster;
  font-size: 25px;
  padding-left: 10px;
}
.postThumbnail{
  width: 100px;
  height: 100px;
}
.learnMore{
  margin-top: 60px;
  font-family: lobster;
}
.pageInfo{
  position: absolute;
  top: 1300px;
  max-width: 70%;
  margin-left: 150px;
}
.homeIcon {
  padding-right: 50px;
}
.homeIconLink {
  color: #fefbf7;
}
.homeIconLink:hover {
  color: black;
}
